body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #3b96eb 30%, #bde0fe 100%);
}

#imageContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#poke-logo {
  height: 3.5rem;
}

#pokeball {
  width: 2.5rem;
  animation: rotateAnimation 2s infinite linear;
  margin-bottom: 0.75rem;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  margin: 0;
  font-size: 3rem;
}

#instructions {
  font-size: 1.2rem;
}

.frame:hover {
  transform: scale(1.03);
  box-shadow: 0rem 0rem 1rem rgb(255, 255, 255);
}

.frame:active {
  background-color: white;
}

.characterImage {
  width: 100%;
  height: 100%;
}

#scoreBoard {
  color: white;
  font-size: 2rem;
  text-align: center;
}

@font-face {
  font-family: "pokemon-font";
  src: url("../assets/fonts/pokemon-solid.ttf") format("truetype");
  /* Additional font properties */
}
